<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.meitong"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_tax"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".tab.home.MainTabActivity"
            android:screenOrientation="portrait" >
                      
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".decoder.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
          
        </activity>
        <activity android:name=".tab.sms.SMSInputActivity" >
        </activity>
        <activity
            android:name=".tab.sms.SMSSendActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".tab.help.HelpActivity" >
        </activity>
        <activity
            android:name=".tab.query.HandmadeInputActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".tab.query.PhoneInputActivity" >
        </activity>
        <activity android:name=".tab.query.WinNumInputActivity" >
        </activity>
        <activity android:name=".tab.result.ShowResult" >
        </activity>
        <activity android:name=".tab.result.BackToResults" >
        </activity>
        <activity android:name=".tab.home.ScanActivity" >
        </activity>
        <activity android:name="cn.meition.test.SoapTest">
	   <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            
        </activity>
        <activity android:name="cn.meition.test.ResultTest"></activity>
        <activity android:name="cn.meition.test.SaxActivity">
             
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wifi related -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>