@CHARSET "UTF-8";
body{
	margin:0;	
}

#topbg {
	background-image: url(../image/admin/top_bg.jpg);
	background-repeat: repeat-x;
	height: 56px;
}
#topright {
	background-image: url(../image/admin/top_right.jpg);
	background-repeat: no-repeat;
	height: 56px;
	width: 268px;
	float: right;
}
