@CHARSET "UTF-8";
body{
	font-size:12px;
	color:#666;
	text-align:center;
}
#content{
	width:800px;
	padding-left:115px;
	padding-right:300px;
	margin:0 auto;
	text-align:left;
}
#content h1#title{
	height:49px;
	margin-bottom:10px;
	text-indent:-9999px;
	background:url(../image/admin/main_title.jpg) no-repeat center;
}



#content h1{
	height:28px;
	line-height:28px;
	padding-left:40px;
	font-size:14px;
	margin:0;
	font-weight:normal;
	font-family:微软雅黑;
}
#content #left{
	background:url(../image/admin/main_box_middle.jpg) repeat-y;
}
#content #left #right{
	padding:0 1px;
	background:url(../image/admin/main_box_middle.jpg) repeat-y center right;
}
#content #bottom{
	width:345px;
	height:10px;
	background:url(../image/admin/main_box_bottom.jpg) no-repeat;
}

#content #info{
	width:345px;
	float:left;
	background:url(../image/admin/main_box_top.jpg) no-repeat;
}
#content #info #left #right{
	height:150px;	
}
#content #info h1{
	background:url(../image/admin/main_user.png) no-repeat 9px center;
}
#content #info #left #right ul{
	margin:0;
}

#content #message{
	width:345px;
	float:right;
	background:url(../image/admin/main_box_top.jpg) no-repeat;
}
#content #message #left #right{
	height:300px;
}
#content #message h1{
	background:url(../image/admin/main_message.png) no-repeat 9px center;
}


#content #situation{
	float:left;
	margin-top:30px;
	width:345px;
	background:url(../image/admin/main_box_top.jpg) no-repeat;
}
#content #situation #left #right{
	height:180px;
}
#content #situation h1{
	background:url(../image/admin/main_situation.png) no-repeat 9px center;
}

#content #draft{
	float:right;
	margin-top:30px;
	width:345px;
	background:url(../image/admin/main_box_top.jpg) no-repeat;
}
#content #draft h1{
	background:url(../image/admin/main_draft.png) no-repeat 9px center;
}