@CHARSET "UTF-8";
body{
	font-size:12px;
	background:#F7F7F7;
	color:#666;
}
#contentdiv{
	padding-top:100px;
	width:1000px;
	text-align:center;
}
#contentdiv form{
	width:600px;
	text-align:left;
	margin:0 auto;
}
#contentdiv form p {
	margin:10px 20px;
}

#contentdiv form p span{
	margin-right:20px;
}