@CHARSET "UTF-8";
body{
	font-size:12px;
	background:#F7F7F7;
	color:#666;
}
#articleMain{
	width:1000px;
	margin:0 auto;
}



#articleLeft{
	width:600px;
	float:left;
	padding-top:10px;
}
#articleLeft p{
	margin:20px 0;
}
#articleLeft p .title{
	margin-right:20px;
}
#articleLeft p input{
	width:300px;
}
#articleLeft #content{
	width:550px;
	height:300px;
}
#articleLeft form #digest{
	width:555px;
	hieght:30px;
	padding:0;
	border:1px solid #E6E6E6;
	text-align:center;
}
#articleLeft form #digest h1{
	font-size:14px;
	background:#E3E3E3;
	margin:0;
	padding:5px 0 5px 20px;
	text-align:left;;
}
#articleLeft form #digest p{
	margin:0;
	padding:10px 0;
}
#articleLeft form #digest input{
	width:90%;
}
#articleLeft #showdownload{
	margin:30px 0;
	width:110px;
} 


#articleRight{
	width:390px;;
	float:left;
	padding-top:30px;
}

#articleRight #release,#classify,#tags{
	border:1px solid #E3E3E3;
	width:360px;
}
#articleRight #release h1,#classify h1,#tags h1{
	margin:0;
	font-size:14px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	background-color:#E3E3E3;
}

#articleRight #release{
	height:100px;
}
#articleRight #release a{
	margin:0 5px;
	cursor:pointer!important;
	cursor:hand;
}
#articleRight #release #state{
	margin-left:5px;
}

#articleRight #classify{
	height:200px;
	margin:30px 0;
}
#articleRight #classify h1 a{
	display:block;
	float:right;
	margin-right:50px;
	color:#a5a5a5;
}
#articleRight #classify div{
	width:100%;
	height:150px;
	overflow:auto;
}
#articleRight #classify div p{
	height:20px;
	width:80px;
	margin-left:10px;
	float: left;
}

#articleRight #tags{
	height:200px;
}
#articleRight #tags p{
	margin:10px 30px;
	font-size:12px;
	color:#777;
}
#articleRight #tags #taginput{
	font-size:12px;
	color:#777;
}
#articleRight #tags #addtag{
	margin-left:10px;
	cursor:pointer!important;
	cursor:hand;
}
#articleRight #tags #tagdiv{
	margin-left:30px;
	width:300px;
	height:100px;
}
#articleRight #tags #tagdiv span{
	display:block;
	float:left;
	margin:10px 20px 10px 0px;
	height:20px;
	line-height:20px;
}
#articleRight #tags #tagdiv span a{
	display:block;
	float:left;
	width:10px;
	text-indent:-9999px;
	margin-right:3px;
	background:url(../image/admin/article_xit.gif) no-repeat left center;
}
#articleRight #tags #tagdiv span a:hover{
	background:url(../image/admin/article_xit.gif) no-repeat right center;
}


#downloaddiv{
		font:12px "宋体";
		color:#fff;
		width:400px;
		height:100%;
		margin:0 auto;
		background-color:#3481AF;
		display:none;
}
#downloaddiv #title{
	text-align:center;
}
#downloaddiv div p{
	margin:20px;
}
#downloaddiv div p span{
	margin:0 20px;
}
#downloaddiv div p input{
	border:1px solid #5EC6E3;
	background:#225E83;
}
#downloaddiv #title{
	text-align:center;
}
#downloaddiv a{
	text-decoration:none;
	color:#fff;
}
#downloaddiv a:hover{
	text-decoration:underline;
	color:red;
}
#downloaddiv #info{
	text-align:center;
	margin-bottom:10px;
}
