@CHARSET "UTF-8";

body{
	font-size:12px;
	background:#eee;
	color:#666;
}
#articleMain{
	width:1000px;
	margin:40px auto;
}

#articleMain #title p#classify{
	margin:20px 0;	
}
#articleMain #title span{
	font-size:24px;
	font-weight:bold;
	margin-right:20px;
}

#articleMain table{
	background:#6298e1;
	width:99%;
}
#articleMain table tr.head{
	background:url(../image/admin/list_bg.gif);
	height:30px;
	color:#ffffff;
	font-weight:bold;
}

#articleMain table tr{
	height:40px;
	background:#ebf2f9;
}
#articleMain table tr#pagetr{
	background:#D7E4F7;
}

