.cs {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url("index_bj.gif"/*tpa=http://www.cxcyzg.cn/images/index_bj.gif*/); BACKGROUND-REPEAT: repeat-y
}
.ix {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url("../top/321_2.jpg"/*tpa=http://www.cxcyzg.cn/top/321_2.jpg*/); BACKGROUND-REPEAT: repeat-y
}
.xw {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 25px
}
.bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.btCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.font {
	FONT-SIZE: 12px
}
